:root{
    --paper-margin: 60px;
    --user-img-speed: 10s;
}

body{
    background: rgba(51, 51, 51, 0.089);
}

article{
    margin: 50px auto;
    max-width: 900px;
    background: #fff;
    border-radius: 15px;
    padding-bottom: 50px;
}

div.highlight{
    padding: 3%;
    overflow: auto;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #c9c9c9;
}
th{
    background: #f9f9fa;
}
td{
    text-align: center;
    min-width: 80px;
}
td li{
    text-align: start;
}

.article-body-image-wrapper img{
    margin: 15px auto;
    display: block;
    max-width: 100%;
}

table{
    margin: 15px auto;
}

:not(pre) > code{
    background: rgb(194, 194, 194);
    border-radius: 2px;
    padding: 0 5px;
}

#article-body > *{
    padding: 0 var(--paper-margin);
}

#cover{
    width: 100%;
}

#title{
    margin: 10px var(--paper-margin);
    font-size: 2em;
    display:inline-block;
    padding-bottom:5px;
    background: var(--my-gradient);  
    background-size:100% 5px;
    background-position:bottom 0 left 0,bottom 5px left 0;
    background-repeat:no-repeat;
}

#author-img{
    border-radius: 50%;
    box-shadow: 0px 0px 7px 3px var(--main-color);
    grid-row: span 3;
}

address{
    margin: 35px var(--paper-margin);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto auto;
    row-gap: 5px;
    column-gap: 15px;
    align-items: end;
}

#date{
    margin: 0;
    font-style: normal;
    font-size: 0.9em;
}

address > ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 0;
    margin: 0;
}

#author-name{
    font-size: 1.4em;
    font-weight: bold;
}

address a{
    display: flex;
    align-items: center;
}

address a::before{
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin-right: 3px;
}

#twitter::before{
    background-image: url('../icons/twitter.svg');
}

#github::before{
    background-image: url('../icons/github-1.svg');
}

#devto::before{
    background-image: url('../icons/devto.svg');
}

#homepage::before{
    background-image: url('../icons/globe.svg');
}

address a:hover::before{
    animation: spin 5s linear infinite;
}

#author-img:hover{
    animation: spin var(--user-img-speed) linear infinite;
}

#tags{
    list-style: none;
    margin: 5px var(--paper-margin);
    padding: 0;
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    width: fit-content;
}

#tags > li{
    background: #333333;
    color: white;
    border-radius: 5px;
    padding: 5px;
    min-width: 50px;
    text-align: center;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}